@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@106,575&family=Inter+Tight:wght@400..700&family=Inter:opsz,wght@14..32,400..700&display=swap');

@font-face {
    font-family: "UnsmurfIcons";
    src: url("../static/unsmurficons-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-synthesis: none;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
